.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: var(--secundary);
}

.navbar-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 0;
  transition: all 0.3s ease;
}

.navbar-center.show-menu {
  height: auto;
}

.navbar-center a {
  margin: 10px;
  color: var(--textcolor);
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.navbar-center a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.navbar-right button {
  margin-right: 20px;
}

.navbar button {
  border: 0px solid;
  border-radius: 20px;
  padding: 8px;
  font-size: 16px;
  background-color: var(--principal);
  color: var(--textcolor);
  font-weight: 600;
  width: 5vw;
}

.visible {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: var(--secundary);
  z-index: 999;
  border-top: 2px solid var(--textcolor);
  transition: visibility 1s, opacity 1.5s ease;
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.menu-icon {
  color: var(--textcolor);
  display: none;
}

.show-menu .menu-dropdown {
  display: block;
}

.visible a {
  display: block;
  color: var(--textcolor);
  text-align: center;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
}

.logo {
  color: var(--textcolor);
  margin-left: 100px;
  font-size: 28px;
}

@media only screen and (min-width: 1025px) and (max-width: 1600px) {
  .navbar button {
    width: 8vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar-center {
    display: none;
  }

  .navbar-right {
    display: none;
  }

  .menu-icon {
    display: flex;
    font-size: 30px;
    position: absolute;
    right: 40px;
  }

  .logo {
    margin-left: 40px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .navbar-center {
    display: none;
  }

  .navbar-right {
    display: none;
  }
  
  .menu-icon {
    display: flex;
    font-size: 30px;
    position: absolute;
    right: 40px;
  }

  .logo {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-center {
    display: none;
  }

  .navbar-right {
    display: none;
  }
  
  .menu-icon {
    display: flex;
    font-size: 30px;
    position: absolute;
    right: 40px;
  }

  .logo {
    margin-left: 20px;
  }
}