.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: var(--secundary);
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.navbar-center a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-right button {
  margin-right: 20px;
}

.navbar button {
  border: 0px solid;
  border-radius: 20px;
  padding: 8px;
  font-size: 16px;
  background-color: var(--principal);
  color: white;
  font-weight: 600;
  width: 5vw;
}

.invisivel {
  display: none;
}

.logo {
  color: white;
  margin-left: 100px;
  font-size: 28px;
}

@media only screen and (min-width: 1025px) and (max-width: 1600px) {
  .navbar button {
    width: 8vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar-center {
    display: none;
  }

  .navbar-right {
    display: none;
  }

  .invisivel {
    display: flex;
    font-size: 30px;
    color: white;
    position: absolute;
    right: 40px;
  }

  .logo {
    margin-left: 40px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .navbar-center {
    display: none;
  }

  .navbar-right {
    display: none;
  }
  .invisivel {
    display: flex;
    font-size: 30px;
    color: white;
    position: absolute;
    right: 40px;
  }

  .logo {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-center {
    display: none;
  }

  .navbar-right {
    display: none;
  }
  
  .invisivel {
    display: flex;
    font-size: 30px;
    color: white;
    position: absolute;
    right: 40px;
  }

  .logo {
    margin-left: 20px;
  }
}